[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cron_converter = "*"
httpx = "*"
pandas = "*"
python-dateutil = "*"
schwab-py = "*"

[dev-packages]
cron_converter = "*"
httpx = "*"
notebook = "*"
pandas = "*"
python-dateutil = "*"
schwab-py = "*"

[requires]
python_version = "3.13"
